dev
etc/*
!etc/exports
!etc/network
etc/network/*
!etc/network/interfaces
boot
home
initrd.img
lib
lib64
mnt
proc
root
bin
sys
tmp
usr
vmlinuz
var/*
!var/ftpd
var/ftpd/ubuntu/*
!var/ftpd/ubuntu/README.txt
var/ftpd/freebsd/*
!var/ftpd/freebsd/README.txt
var/ftpd/.disk
sbin
